/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Login container and box styling */
.login-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    margin: auto;
    position: relative;
}
.home-btn {
    position: absolute;
    top: 25px;
    left: 30px;
    background-color: #555;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-btn i {
    margin-right: 5px; /* Space between icon and text */
}
.home-btn:hover {
    background-color: #777;
}
.login-box {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 40px 30px;
    text-align: center;
}

.login-box h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.login-box p {
    color: #777;
    margin-bottom: 30px;
}

.input-group {
    width: 100%;
    margin-bottom: 20px;
}

.input-group input {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    color: #333;
}

.remember-me {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.remember-me label {
    font-size: 14px;
    color: #333;
}

.login-btn {
    width: 100%;
    padding: 15px;
    background-color: #1a73e8;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-btn:hover {
    background-color: #1557ba;
}

/* Responsive design */
@media (max-width: 768px) {
    .login-box {
        padding: 30px 20px;
    }
}
